{# This Jinja2 template defines static fields with a dynamic body #}
{
        "crf_name": "{{ record.application_details.basic_info.cutomer_name | default('') }}",
        "crf_branch": "{{ record.application_details.basic_info.branch_name | default('') }}",
        "crf_acc_no": "{{ record.application_details.basic_info.account_number | default('') }}",
        "crf_customer_id": "{{ record.application_details.basic_info.customer_id | default('') }}",
        "crf_new_mob_no": "{{ record.contact_details_modification.contact_details.mobile | default('') }}",
        "crf_new_email": "{{ record.contact_details_modification.contact_details.email_id | default('') }}",
        "crf_new_comm_add_1": "{{ record.contact_details_modification.contact_details.address_1 | default('') }}",
        "crf_new_comm_add_2": "{{ record.contact_details_modification.contact_details.address_2 | default('') }}",
        "crf_new_comm_add_city": "{{ record.contact_details_modification.contact_details.city | default('') }}",
        "crf_new_comm_add_country": "{{ record.contact_details_modification.contact_details.country | default('') }}",
        "crf_new_comm_add_state": "{{ record.contact_details_modification.contact_details.state | default('') }}",
        "crf_new_comm_add_pin": "{{ record.contact_details_modification.contact_details.PIN | default('') }}",
        "crf_new_branch": "{{ record.general_modification.account_sol_change.branch_name | default('') }}",
        "crf_new_sol": "{{ record.general_modification.account_sol_change.sol_id | default('') }}",
        "crf_new_branch_reason": "{{ record.general_modification.account_sol_change.reason_for_transfer | default('') }}",
        "crf_acc_date_from": "{{ record.general_modification.account_statement_or_interest_cert_date_range.date_from | default('') }}",
        "crf_acc_date_to": "{{ record.general_modification.account_statement_or_interest_cert_date_range.date_to | default('') }}",
        "crf_stop_from": "{{ record.general_modification.stop_payment.cheque_number_from | default('') }}",
        "crf_stop_number": "{{ record.general_modification.stop_payment.no_of_cheques | default('') }}",
        "crf_stop_payee": "{{ record.general_modification.stop_payment.payee_name | default('') }}",
        "crf_stop_date": "{{ record.general_modification.stop_payment.cheque_date | default('') }}",
        "crf_stop_date_w": "{{ record.general_modification.stop_payment.cheque_date_2 | default('') }}",
        "crf_stop_amount": "{{ record.general_modification.stop_payment.amount | default('') }}",
        "crf_change_name_proof": "{{ record.general_modification.change_of_name | default('') }}",
        "crf_other_line_2": "More Info",
        "crf_other_line_1": "{{ record.general_modification.any_other_request | default('') }}",
        "crf_total_requests": "{{ record.general_modification.other_info.no_of_requests | default('') }}",
        "crf_date": "{{ record.general_modification.other_info.date | default('') }}",
        "crf_place": "{{ record.general_modification.other_info.place | default('') }}",
        "crf_ent_sp_no": "SP123",
        "crf_ver_sp_no": "SP456",
        "crf_activ_acc": "Active",
        "crf_mob_no": "true",
        "crf_email": "false",
        "crf_comm_add": "true",
        "crf_dplink": "false",
        "crf_cheque": "true",
        "crf_new_cheque": "false",
        "crf_new_cheque_pod": "true",
        "crf_acc": "false",
        "crf_dupl_passbook": "true",
        "crf_block_debit": "false",
        "crf_activ": "true",
        "crf_activ_alert": "false",
        "crf_scheme": "true",
        "crf_stop": "false",
        "crf_change_namee": "true",
        "crf_other_requests": "false",
        "crf_sign_applicant_af_image": "67e3a58908b52e6d8781e73f"
    }