{
  "crf_name": "{{ record.kyc_holders[0].kyc_holder.pan_verification.pan_details.name_in_pan }}"
  "crf_branch": "Tilak Nagar",
  "crf_acc_no": "603510110014163",
  "crf_customer_id": "CustID123",
  "crf_new_mob_no": "+918510889066",
  "crf_new_email": "dgupta@lyik.com",
  "crf_new_comm_add_1": "D10A Mukhram Garden",
  "crf_new_comm_add_2": "Tilak Nagar",
  "crf_new_comm_add_city": "New Delhi",
  "crf_new_comm_add_country": "India",
  "crf_new_comm_add_state": "Delhi",
  "crf_new_comm_add_pin": "110018",
  "crf_new_branch": "Rajouri Garden",
  "crf_new_sol": "SOL456",
  "crf_new_branch_reason": "Relocation",
  "crf_acc_date_from": "01/01/2024",
  "crf_acc_date_to": "04/04/2025",
  "crf_stop_from": "03/04/2025",
  "crf_stop_number": "7890",
  "crf_stop_payee": "Rishabh G",
  "crf_stop_date": "03/04/2025",
  "crf_stop_date_w": "03/08/2025",
  "crf_stop_amount": "500",
  "crf_change_name_proof": "Driver's License",
  "crf_other_line_2": "More Info",
  "crf_other_line_1": "Some Request",
  "crf_total_requests": "10",
  "crf_date": "04/04/2025",
  "crf_place": "New Delhi",
  "crf_ent_sp_no": "SP123",
  "crf_ver_sp_no": "SP456",
  "crf_activ_acc": "Active",
  "crf_mob_no": True,
  "crf_email": False,
  "crf_comm_add": True,
  "crf_dplink": False,
  "crf_cheque": True,
  "crf_new_cheque": False,
  "crf_new_cheque_pod": True,
  "crf_acc": False,
  "crf_dupl_passbook": True,
  "crf_block_debit": False,
  "crf_activ": True,
  "crf_activ_alert": False,
  "crf_scheme": True,
  "crf_stop": False,
  "crf_change_namee": True,
  "crf_other_requests": False,
  "crf_sign_applicant_af_image": signature_bytes  # Bytes of the signature image
}
